* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    width:100vw;
    height: 100vh;
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/pattern-curve.svg') no-repeat bottom left;
}

.slider__container {
    display: flex;
    flex: 1;
    margin: 0 30px 0 50px;
    max-width: 1024px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column:first-child {
    position: relative;
    flex: 1;
    }

.column:last-child {
    background: url('../assets/img/pattern-bg.svg') no-repeat top right;
    background-size: contain;
    flex: 1;
    padding: 60px 80px 40px 50px;
}

.container {
    position: absolute;
    right: -120px;
    z-index: 10;
}

.row {
    display: flex;
}

.quote--text {
    color: var(--dark-blue);
    font-size: 1.9vw;
    letter-spacing: 1px;
    line-height: 2rem;
    padding-top: 70px;
    background: url('../img/pattern-quotes.svg') no-repeat top left 100px;
}

.quote--author {
    color: var(--dark-blue);
    font-size: 1.4vw;
    font-weight: 700;
    margin-right: 15px;
}

.quote--role {
    color: var(--grayish-blue);
    font-weight: 500;
    font-size: 1.4vw;
    }

.elements {
    position: relative;
}

.slider__img {
    height: auto;
    width: 100%;
    min-width: 300px;
    max-width: 550px;
    box-shadow: 0px 15px 35px -20px var(--dark-blue);
    border-radius: 5px;
}

.slider__btns {
    display: flex;
    position: absolute;
    bottom: -15px;
    left: 50px;
    border-radius: 30px;
    background-color: white;
}

.btn--left {
    border-radius: 20px 0 0 20px;
    background: url('../assets/img/icon-prev.svg') no-repeat center center;
    padding: 25px 30px 25px 20px;
}

.btn--right {
    border-radius: 0 20px 20px 0;
    background: url('../assets/img/icon-next.svg') no-repeat center center;
    padding: 25px 20px 25px 30px;
}