*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

.slider {
    display: flex;
    min-height: 100vh;
    background: url('../img/pattern-curve.svg') no-repeat bottom -50px left -80px;
    justify-content: center;
    align-items: center;
}

.slide__wrapper {
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0px 60px 0 60px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column:first-child {
    position: relative;
    flex: 1;
}

.column:last-child {
    background: url('../img/pattern-bg.svg') no-repeat top right;
    background-size: contain;
    padding: 60px 80px 40px 50px;
    flex: 1;
}

.text__wrapper {
    position: absolute;
    right: -120px;
    z-index: 10;
}

.row {
    display: flex;
}

.quote--text {
    color: var(--dark-blue);
    font-size: min(26px, 1.9vw);
    letter-spacing: 1px;
    line-height: 2rem;
    padding-top: 20px;
    background: url('../img/pattern-quotes.svg') no-repeat top left 100px;
    background-size: 80px;
}

.quote--author {
    color: var(--dark-blue);
    font-size: min(22px, 1.5vw);
    font-weight: 700;
    margin-right: 15px;
}

.quote--role {
    color: var(--grayish-blue);
    font-weight: 500;
    font-size: min(22px, 1.5vw);
    }

.img__wrapper {
    position: relative;
}

.img {
    height: auto;
    width: 100%;
    min-width: 200px;
    box-shadow: 0px 15px 35px -20px var(--dark-blue);
    border-radius: 5px;
}

.img__btns {
    display: flex;
    position: absolute;
    bottom: -15px;
    left: 50px;
    border-radius: 30px;
    background-color: white;
}

.btn--left {
    border: none;
    border-radius: 20px 0 0 20px;
    background: url('../img/icon-prev.svg') no-repeat center center;
    padding: 25px 30px 25px 20px;
}

.btn--right {
    border: none;
    border-radius: 0 20px 20px 0;
    background: url('../img/icon-next.svg') no-repeat center center;
    padding: 25px 20px 25px 30px;
}

.loading {
    animation: 1s ease-out 0s 1 animateSlideLoad;
    -webkit-animation: 1s ease-out 0s 1 animateSlideLoad;
}

@keyframes animateSlideLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes animateSlideLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 700px) {

    .slide__wrapper {
        flex-direction: column-reverse;
    }

    .text__wrapper {
        position: static;
    }

    .quote--text {
        text-align: center;
        background-position: top center;
        font-size: 18px;
    }

    .quote--author,
    .quote--role {
        font-size: 18px;
        margin: 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .img__btns {
        left: 35%;
    }
}